<div *ngIf="pokemon">
  <h2>{{ pokemon.name | titlecase }} Details</h2>
  <div>id: {{ pokemon.id }}</div>
  <div>
    <label for="hero-name">Pokemon name: {{ pokemon.name }}</label>
    <!-- <h3>{{ pokemon.name }}</h3> -->
    <!-- <input id="hero-name" [(ngModel)]="pokemon.name" placeholder="name" /> -->
  </div>
  <div>
    <img [src]="pokemon.sprites.front_default" alt="" />
  </div>
  <button type="button" (click)="savePokemon(pokemon.name)">
    Save Pokemon
  </button>
  <!-- <button type="button" (click)="goBack()">go back</button> -->
</div>
